# PostgreSQL connection string
DATABASE_URL="postgresql://postgres.itecgogzzwswprdzmqxa:ustmhuBOTYDnlIFD@aws-0-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require"

# Secret used to sign JWTs
JWT_SECRET="Iamgoingtobethebestdeveloperintheworld"
JWT_EXPIRES_IN="12h"

PORT=4000
NODE_ENV=development
